<% layout('layout/page') -%>
<% block('title', "Регистрация и вход") -%>

<!-- <p>Введите имя пользователя и пароль. Если такого пользователя нет - он будет создан.</p> -->

<div class="login-form-wrapper">
  <h2>Вход</h2>

  <form class="form-horizontal login-form" action="/auth/login" method="POST" name="login-form">

    <div class="">
      <label for="input-username" class=" control-label">Имя</label>
      <div class="">
        <input name="username" value="" type="text" class="form-control" id="input-username" placeholder="Имя пользователя">
      </div>
    </div>

    <div class="">
      <label for="input-password" class="control-label">Пароль</label>
      <div class="">
        <input name="password" value="" type="password" class="form-control" id="input-password" placeholder="Пароль">
      </div>
    </div>

    <div class="">
      <div class="">
        <button type="submit" class="btn btn-primary" data-loading-text="Отправляю...">Войти</button>
        <span class="help-block error"></span>
      </div>
    </div>
  </form>
</div>

<script>
  $(document.forms['login-form']).on('submit', function() {
    var form = $(this);

    $('.error', form).html('');
    $(":submit", form).button("loading");

    $.ajax({
      url: "/login",
      data: form.serialize(),
      method: "POST",
      complete: function() {
        $(":submit", form).button("reset");
      },
      statusCode: {
        200: function() {
          form.html("Вы вошли в сайт").addClass('alert-success');
          window.location.href = "/clients";
        },
        403: function(jqXHR) {
          //var error = JSON.parse(jqXHR.responseText);
          $('.error', form).html('Неизвестный пользователь или неверный пароль');
        }
      }
    });
    return false;
  });
</script>