<% layout('layout/page') -%>

<% block('title', 'Новый клиент'); -%>



<h3>Новый клиент</h3>

 <form class="login-form" action="/addclient" method="POST" name="add-client-form">

 <!-- <div class="row">
  	<div class="btn-group form-group col-sm-4" role="group" aria-label="...">
  	  <button type="button" class="btn btn-default">Физическое лицо</button>
  	  <button type="button" class="btn btn-default">Юридичекое лицо</button>
  	</div>
  </div> -->
 <div class="form-new-client-wrapper">
    <div class="form-group row">
      <label for="input-surname" class="col-sm-1">Фамилия</label>
      <div class="col-sm-11">
        <input name="surname" value="" type="text" class="form-control" id="input-surname" placeholder="Фамилия">
      </div>
    </div>

    <div class="form-group row">
      <label for="input-name" class="col-sm-1">Имя</label>
      <div class="col-sm-11">
        <input name="name" value="" type="text" class="form-control" id="input-name" placeholder="Имя">
      </div>
    </div>

    <div class="form-group row">
      <label for="input-secondname" class="col-sm-1">Отчество</label>
      <div class="col-sm-11">
        <input name="secondname" value="" type="text" class="form-control" id="input-secondname" placeholder="Отчество">
      </div>
    </div>

  	<div class="form-group row">
  		<label for="datepicker" class="col-sm-2">Дата рождения</label>
  		<div class="col-sm-2">
  			<input name="datepicker" value="" type="text" data-date-format="mm/dd/yyyy" id="datepicker" class="form-control">
  		</div>
  		  <label for="input-name" class="col-sm-2">Паспорт Серия</label>
  	    <div class="col-sm-2">
  	      <input name="series" value="" type="text" class="form-control" id="input-series" placeholder="Серия">
  	    </div>
  	    <label for="input-number" class="col-sm-2">Паспорт Номер</label>
  	    <div class="col-sm-2">
  	      <input name="number" value="" type="text" class="form-control" id="input-number" placeholder="Номер">
  	    </div>
  	</div>

  	  <div class="form-group row">
  	    <label for="input-email" class="col-sm-2">Электронный адрес</label>
  	    <div class="col-sm-4">
  	      <input name="email" value="" type="text" class="form-control" id="input-email" placeholder="example@domen.com">
  	    </div>
  	    <label for="input-phone" class="col-sm-1">Телефон</label>
  	    <div class="col-sm-5">
  	      <input name="phone" value="" type="text" class="form-control" id="input-phone" placeholder="8-xxx-xxx-xx-xx, 123-45-67, 812-xxx-xx-xx">
  	    </div>
  	  </div>

  	  <div class="form-group row">
  	    <label for="input-note" class="col-sm-2">Примечание</label>
  	    <div class="col-sm-7">
  	      <textarea class="form-control" rows="3"></textarea>
  	    </div>
  	  </div>
 </div> 
	   <button type="submit" class="btn btn-primary" data-loading-text="Отправляю...">Добавить</button>
	   <span class="help-block error"></span>
  </form> 


<script>
  $(document.forms['add-client-form']).on('submit', function() {
    var form = $(this);
    var serialized = form.serialize();
    $('.error', form).html('');
    $(":submit", form).button("loading");

    $.ajax({
      url: "/newclientn",
      data: form.serialize(),
      method: "POST",
      complete: function() {
        $(":submit", form).button("reset");
      },
      statusCode: {
        200: function() {
          form.html("Клиент добавлен").addClass('alert-success');
        },
        403: function(jqXHR) {
          var error = JSON.parse(jqXHR.responseText);
          $('.error', form).html(error.message);
        }
      }
    });
    return false;
  });
</script>